body {
    background-color: #e6e6e6 !important;
}

.ajustes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}

.ajustes-header {
    margin-top: 1.5%;
    display: flex;
    background-color: #b6b6b6;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: end;
}

.ajustes-header h1 {
    margin-right: 70%;
}

.ajustes-header img {
    max-width: 100px;
    max-height: 100px;
}

.ajustes {
    background-color: white;
    width: 70%;
}

.mal {
    color: red;
}

.bien {
    color: green;
}

.irAlumno {
    color: dodgerblue;
    text-decoration: none;
}

.principal-ajustes h1 {
    border-bottom: 2px solid black;
}

.infocuenta, .cambiarpass, .panelalumno {
    margin-left: 2%;
    margin-right: 2%;
}

.informacion {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: #b6b6b6;
}

#lista {
    margin-bottom: 25px;
}

.informacion h2 {
    margin-bottom: 0;
}

.cambiarpass-form {
    width: 40%;
    text-align: center;
}

.cambiarpass-form input {
    background-color: #ece9e9;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    height: 40px;
}

.cambiarpass-form p {
    margin-bottom: 0;
}

.botonpass button {
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin-top: 5%;
    border: 0;
    cursor: pointer;
}

.panelalumno {
    margin-bottom: 20px;
}

.botonpass button:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.cambiarpass-form form {
    margin-bottom: 30px;
}

@media (max-width: 860px) {
    .ajustes-container{
        text-align: center;
    }
    .informacion{
        width: 100%;
        height: auto;
        padding: 0;
    }
    .ajustes{
        width: 100%;
    }
    .ajustes-header{
        display: block;
    }
    .ajustes-header img{
        display: none;
    }
    .cambiarpass-form{
        width: 100%;
    }
}