html {
    scroll-behavior: smooth;
}

body {
    background-color: #e6e6e6 !important;
}

.panelAlumnoMain {
    margin-top: 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Panel */

.panel {
    background-color: #ffffff;
    width: 70%;
    margin-bottom: -20px;
    min-height: 100vh;
}

.panelHeader {
    background-color: #b6b6b6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1000px;
    height: 80px;
}

.panelHeader h1 {
    font-size: 40px;
}

.panelHeader p {
    font-size: 20px;
}

.tituloClases h1, .tituloInformes h1 {
    border-bottom: 2px solid black;
    margin-right: 20px;
    margin-left: 20px;
}

.clases p {
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
}

#informesIndice {
    scroll-margin-top: 90px;
}

.busquedaInformes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.busquedaInformes input {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #e6e6e6;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.resultadosInformes {
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background-color: #b6b6b6;
    max-height: 800px;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    min-height: 30vh;
}

ul {
    padding: 0;
}

.listaInformes {
    display: block;
    width: 100%; /* El ancho del <li> será del 100% del contenedor */
    overflow: hidden; /* Evita que el contenido desborde el <li> */
}

.resultadoInforme {
    list-style-type: none;
    background-color: #e6e6e6;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.resultado {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: #e6e6e6;
    width: 96%;
    text-align: left;
    height: 50px;
    margin-top: 20px;
    list-style-type: none;
    border-radius: 20px;
    margin-left: 20px;
}

.linkInforme {
    text-decoration: none;
    color: #004aad;
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: -10px;
}

.linkInforme:hover {
    color: #709cd4;
}

.hidden {
    display: none;
}

/* Estilo del scroll de informes */

.resultadosInformes::-webkit-scrollbar {
    width: 20px;
}

.resultadosInformes::-webkit-scrollbar-track {
    background: #dcdcdc;
    border-radius: 20px;
}

.resultadosInformes::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 10px;
}

.resultadosInformes::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

/* Responsive */

@media (max-width: 1100px) {
    .panelAlumnoMain {
        margin-top: 105px;
    }
    .panel {
        width: 100%;
    }
}
