@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+FR+Moderne:wght@100..400&display=swap');

body {
    background-color: #F2FAFC;
    margin: 0px;
}

#header {
    width: 100%;
    height: 110px;
    display: flex;
    background-color: #8DCABC;
    text-align: center;
    align-items: center;
    gap: 45px;
    font-size: 20px;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
}

#leftArrowHeader {
    width: 40px;
    height: 35px;
    transition: 0.5s ease;
}

#backMain {
    background-color: #38A08D;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s ease;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1%;
    text-decoration: none;
}

#leftArrowHeader:hover {
    width: 50px;
    height: 45px;
}

#headInfo {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: #002921;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 15px;
}

#headInfo:hover {
    background-color: #38A08D;
}

#titleCER {
    text-decoration: none;
    font-family: "Playwrite FR Moderne", cursive;
    color: black;
    padding: 40px;
    transition: 0.5s ease;
}

#titleCER:hover {
    font-size: 25px;
}



#mainText {
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    color: #007D95;
    font-weight: 600;
    font-size: 30px;
}



#footer {
    width: 100%;
    height: 40px;
    background-color: #8DCABC;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.43);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#footerInfo {
    font-family: "Open Sans", sans-serif;
}

#footerAboutUs {
    text-decoration: none;
    transition: 0.1s ease-in-out;
    color: #002921;
}

#footerAboutUs:hover{
    font-weight: 700;
}
.login-div{
    background-color: #5eced0;
    /*border: 2px solid #245148;*/
    /*border-radius: 0px 0px 15px 15px;*/
    /*margin-bottom: 20px;*/
    font-family: "Quicksand", sans-serif;
    border: 2px solid black;
}
.div-inputs-login{
    text-align: left;
    margin: 10px;
    padding: 5px;
    background-color: #5eced0;
    border-radius: 10px;
}
.input-login{
    margin: 0;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
}
.contenido-formulario label, .contenido-formulario input{
    font-size: 40px;
    padding: 7px;
}
.contenido-formulario{
    margin: 20px;
}
.titulo-input{
    display: inline-flex;
    background-color: #1E8D7B;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.div-titulo-login{
    text-align: center;
    font-size: 35px;
    color: black;
}
.contenido-formulario-btn{
    text-align: center;
}
.contenido-formulario-btn input[type="submit"]{
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #1E8D7B;
    width: 100%;
    color: white;
    font-weight: 400;
    border: 2px solid black;
    cursor: pointer;
}
.login-principal{
    display: inline-flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.registro-a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.div-registro-login{
    display: flex;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    background-color: #1E8D7B;
    width: 100%;
    color: white;
    padding: 0px 5px 5px 5px;
    margin-right: 10px;
    border: 2px solid black;
}
.register-p{
    font-size: 20px;
}