/* Cambia el fondo y el color de texto del select */
.select2-container--default .select2-selection--multiple {
    background-color: var(--color-cuartetario); 
    border: 1px solid var(--color-secundario); 
    min-height: 40px;
}

/* Cambia el estilo de los elementos seleccionados */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--color-secundario-hover); 
    color: #333333; 
    border-radius: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: var(--color-secundario);
    border: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    background-color: var(--color-secundario-hover);
    color: #ff0000;
}
/* Tamaño de la letra en el campo de búsqueda */
.select2-container--default .select2-search--inline .select2-search__field  {
    font-size: 20px; 
    padding: 5px 5px; 
    line-height: 20px; 
    height: 30px; 
    box-sizing: border-box; 
}

/* Tamaño de la letra en los elementos seleccionados */
.select2-container--default .select2-selection--multiple .select2-selection__choice  {
    font-size: 30px; /* Cambia este valor según lo que necesites */
}

.select2-container--default .select2-selection--single {
    background-color: var(--color-cuartetario);  
    border: 1px solid var(--color-secundario);     
}

/* Cambiar el padding general del select */
.select2-container--default .select2-selection--single {
    padding: 8px;     /* Cambiar el padding del contenedor */
    height: auto;     /* Ajustar altura automática si el padding cambia el tamaño */
}

/* Cambiar color del texto placeholder en Select2 */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #333333; /* Cambia este valor por el color que desees */
}

/* Cambiar el color del placeholder para select múltiple en Select2 */
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder {
    color: #333333;
}

/* Cambiar el fondo, borde y color de un Select2 deshabilitado */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: rgb(184, 182, 182);
    border: #333333 solid 1px;
}
    
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: rgb(184, 182, 182);
    border: #333333 solid 1px;
}

    



