table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
}
th:hover {
    background-color: var(--color-hover);
}
.botones-accion button{
    display: none;
}
input[type="image"]{
    width: 20px;
    height: 20px;
}
.buscador {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 3%;
}

select {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 3%;
}
a {
    color: blue; /* Color normal */
    text-decoration: none; /* Sin subrayado */
}

a:visited {
    color: blue; /* Color para enlaces visitados */
    text-decoration: none; /* Sin subrayado */
}

a:focus {
    outline: none; /* Sin contorno cuando se hace clic */
}
