body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.header{
    font-size: 30px;
    background-color: orange;
    position: fixed;
    width: 100%;
    text-align: right;
}
.header a{
    text-decoration: none;
}

.content {
    margin-left: 15%;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    position: fixed;
    /*border: 2px solid black;*/
}
.sidebar {
    width: 15%;
    height: 100vh;
    /*background-color: rgb(1, 196, 255);*/
    background-color: #9CD7ED;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}

.sidebar h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #3C3C3B;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
    font-size: 20px;
    text-decoration: solid;
    font-weight: bold;
}

.sidebar ul li a:hover {
    background-color: rgb(20, 168, 237);
}
.informes {
    position: relative;
    display: block;
    background-color: gray;
    width: 75%;
    height: 75%;
    /*margin-left: 5%;*/
    padding: 5px 5px 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}
.aboutus{
    margin-top: 200px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}
.content h1 {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 10%;
}

.content h2{
    font-size: 30px;
    margin-left: 10%;
}
.content p{
    margin-left: 10%;
    font-size: 700%;
    font-weight: bold;
    margin-top: 0;
}
/*.informescontent{
    /*border: 2px solid black;*/
/*}*/

.informescontent h3{
    margin-left: 5%;
}

.informes_content{
    position: fixed;
    height: 100%;
    width: 100%;
    margin-left: 15%;
    margin-top: 40px;
    display: inline;
}
.informes_lista{
    /*position: relative;
    display: inline;*/
    margin-left: 5%;
    /*border: 2px solid black;*/
}

.informes_buscar{
    font-size: 35px;
    margin-bottom: 2%;
}
.contenido_informes{
    margin-left: 5%;
}

.mas-info{
    color: rgb(16, 102, 230);
}

.buscar-informe{
    font-size: 35px;
    border-radius: 30px;
    width: 30%;
    padding: 5px;
    padding-left: 10px;
}

.informes_buscados{
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
    width: 40%;
    height: 40%;
    padding: 10px;
    font-size: 30px;
}
.informes_titulo{
    text-align: center;
    margin-right: 15%;
}
.informes_filtros{
    font-size: 30px;
}
.check_filtros{
    scale: 220%;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  .contenido-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1010;
    text-align: center;
  }
  .contenido-overlay p {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .contenido-imagenes{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  #cerrarabout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .div-imagen{
    text-align: center;
    margin: 20px;
  }
  .div-imagen img{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .idiomas{
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .idiomas{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .idiomas input[type="image"]{
    width: 30px; 
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  #logo-español{
    border: 3px solid blue;
  }
  #logo-ingles{
    border: 3px solid black;
  }