.tabla-container {
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    margin-top: -30px;
}

.content {
    background-color: var(--color-primario);
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td {
    background-color: var(--color-cuartetario);
}

th {
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
}

th:hover {
    background-color: var(--color-hover);
}

.botones-accion button {
    display: none;  
}

input[type="image"] {
    width: 20px;
    height: 20px;
}

.filtros {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.buscador {
    border: 2px solid var(--color-secundario);
    font-size: 30px;
    padding: 5px;
    margin-bottom: 50px;
    background-color: var(--color-cuartetario);
}

.fila-acciones {
    text-align: center;
}

.imagen-editar {
    margin-left: 10%;
}

select {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 3%;
}

a {
    color: blue; /* Color normal */
    text-decoration: none; /* Sin subrayado */
}

a:visited {
    color: blue; /* Color para enlaces visitados */
    text-decoration: none; /* Sin subrayado */
}

a:focus {
    outline: none; /* Sin contorno cuando se hace clic */
}

#overlayFondo {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlayConfirmacion {
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 220px;
    background: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);           
}

#msgCon {
    color: blue;
}

.eliminar {
    text-align: center;
}

.eliminar p {
    font-size: 25px;
    margin-bottom: 25px;
}

.eliminar span {
    font-weight: 600;
}

.eliminar button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-secundario);
    color: white;
    border-radius: 10px;
    cursor: pointer ;
    border: 2px solid var(--color-secundario);  
    transition: 0.25s;
}

.eliminar button:hover {
    background-color: white;
    color: black;
}

.salir {
    margin-bottom: -40px;
    padding: 20px;
    display: flex;
    justify-content: end;
    font-size: 25px;
}

.salir input {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.salir input:hover {
    background-color: rgb(87, 87, 87)
}

#buscador-select {
    background-color: var(--color-cuartetario);
    border: 2px solid var(--color-secundario);
    font-size: 30px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .filtros {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -10px;
    }
    .buscador, #buscador-select {
        width: 100%;
    }
    #buscador-select {
        margin-bottom: 5px;
    }
}