table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr {
    background-color: var(--color-cuartetario) !important;
}

th {
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
}

th:hover {
    background-color: var(--color-hover);
}

.boton-editar{
    background-color: dodgerblue;
    color: white;
    border: 1px solid var(--color-secundario);
    cursor: pointer;
    transition: 0.25s;
}
.boton-editar:hover{
    filter: brightness(120%);
}

.boton-borrar{
    background-color: red;
    color: white;
    border: 1px solid var(--color-primario);
    cursor: pointer;
    transition: 0.25s;
}
.boton-borrar:hover{
    filter: brightness(120%);
}

a:visited{
    color:blue;
}
a{
    text-decoration: none;
}

@media (max-width:768px){
    table, thead, tbody, th, td, tr {
        display: block;
    }
}