main {
    overflow-y: auto !important;
}

.mainInformes {
    display: flex;  
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.mainInformes p {
    margin-bottom: 4px;
}

.mainInformes input, .mainInformes textarea {
    border: 2px solid var(--color-secundario);
    font-size: 30px;
}

.info {
    width: 600px;
    max-width: 600px;
    margin-right: 3%;
}

.grado {
    margin-top: -15px;
}

.titulo input, .grado input {
    height: 40px;
}

.alumnop {
    margin-top: 20px;
    text-align: center;
}

.filtrop {
    font-size: 20px !important;
    margin-bottom: 10px;
}

.titulo input {
    width: 100%;
}

.informeGrado {
    width: 40px;
}

.informeObservacion {
    width: 21cm;
    height: 70vh;
    resize: none;
    font-size: 20px !important;
    font-family: 'Times New Roman', Times, serif;
}

.botones {
    margin-top: 20px;
}

.botones p {
    margin-bottom: 20px;
    width: 550px;
    max-width: 550px;
    font-size: 25px;
}

.botones a {
    background-color: var(--color-secundario);
    padding: 10px;
    color: white;
    padding-left: 35px !important;
    padding-right: 35px !important;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid var(--color-secundario);
}

.botones a:hover {
    background-color: var(--color-secundario-hover);
    color: var(--color-secundario);
}

.btn {
    background-color: var(--color-secundario);
    padding: 10px;
    color: white;
    padding-left: 35px !important;
    padding-right: 35px !important;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}

.btn:hover {
    background-color: var(--color-secundario-hover);
    color: var(--color-secundario);
}

.botonOculto {
    display: none;
}

@media (max-width: 1500px) {
    .mainInformes {
        flex-direction: column;
    }
    .informeObservacion {
        width: 100%;
    }
    .informeGrado {
        width: 40px;
    }
    .info {
        width: 400px;
        max-width: 400px;
    }
    .botonOculto {
        display: block;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .botonOculto p {
        margin-bottom: 20px;
        width: 550px;
        max-width: 550px;
        font-size: 20px;
    }
    .botonOculto a {
        background-color: var(--color-secundario);
        padding: 10px;
        color: white;
        padding-left: 35px !important;
        padding-right: 35px !important;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        border: 2px solid var(--color-secundario);
    }
    .botonOculto a:hover {
        background-color: var(--color-secundario-hover);
        color: var(--color-secundario);
    }
    .botones {
        display: none;
    }
    .observaciones {
        margin-top: -15px;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .botonOculto {
        display: block;
        margin-top: 15px;
        margin-bottom: 50px;
    }
}

