content {
    padding: 20px;
    display: flex;
}

.menuGestion {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secundario);  
    border-radius: 20px;
}

.menuGestion .a-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--color-secundario);
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.25s;
    padding: 10px;
    text-decoration: none;
}

.menuGestion a:hover {
    filter: brightness(75%);
}

@media (max-width: 1270px) {
    .menuGestion {
        flex-wrap: wrap;
        gap: 0;
    }
}

.gestion-inicio-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gestion-inicio-principal .info-inicio {
    text-align: center;
    font-size: 35px !important;
    margin-bottom: 80px;
}

.gestion-inicio-principal .info-inicio p {
    margin-bottom: 40px;
}

.gestion-inicio-principal .info-inicio span {
    font-size: 100px;
    font-weight: 600;
}

.gestion-contenido {
    margin-top: 10px;
}

select {
    margin-bottom: 3%;
}

.seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 50px;
    background-color: var(--color-secundario);  
    font-size: 40px;
}

.seleccion .a-header {
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--color-secundario);
    border: none;
    color: white    ;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.25s;
    padding: 10px;
    text-decoration: none;
}

.seleccion a:hover {
    filter: brightness(75%);
}

.info-inicio div {
    text-align: center;
}

.grafs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    text-align: center;
}

.info-inicio p {
    font-size: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.grafico-docentes h1, .contenedor-grafico-patologias h1{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.grafInf {
    text-align: center;
    font-size: 35px;
}

.info-inicio {
    text-align: center;
}

#canvaInf {
    max-height: 500px;
}
#filtroGPAT, #filtroGESP, #filtroGInf, #filtroGDOCALU, #filtroGDOCCLA, #filtroGDOCINF, #filtroGOcu{
    width: 20px;
}
.info-inicio svg, .grafico-docentes svg, .contenedor-grafico-patologias svg, .contenedor-grafico-empleados svg{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.info-inicio svg:hover, .grafico-docentes svg:hover, .contenedor-grafico-patologias svg:hover, .contenedor-grafico-empleados svg:hover{
    fill: skyblue !important;
    cursor: pointer;
}
.contenedor-botones{
    display: flex;
    flex-direction: column;
}

.contenedor-botones a{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    background-color: var(--color-secundario);
    cursor: pointer;
    transition: all 0.25s;
}
.contenedor-botones a:visited{
    color: white;
}
.contenedor-botones a:hover{
    filter: brightness(75%);
}

.contenedor-botones a:active{
    filter: brightness(125%);
}



.contenedor-primera-fila-seccion-elementos-inicio{
    display: flex;
    gap: 10%;
}
.contenedor-segunda-fila-seccion-elementos-inicio{
    display: flex;
    gap: 10%;
}
.primera-fila-div, .segunda-fila-div{
    width: 30%;
    height: 40vh;
    text-align: center;
}

.contenedor-segunda-fila-seccion-elementos-inicio span {
    font-size: 5vw;
    font-weight: 600;
}

.contenedor-segunda-fila-seccion-elementos-inicio p{
    margin-bottom: 40px;
    font-size: 3vw;
}

.activo-pagina{
    filter: brightness(120%);
}

.activo-seccion{
    filter: brightness(160%);
}

#canvaPatElementos, #canvaEmpleados, #canvaDocAlu, #canvaDocCla, #canvaDocInf{
    max-width: 100% !important;
    max-height: 30vh !important;
}



.contenedor-grafico-patologias{
    text-align: center;
}

.primera-fila-tabla{
    width: 71.2%;
    height: 40vh;
}

.contenedor-seccion-elementos-altura{
    height: 50vh;
}
.contenedor-segunda-fila-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.contenedor-segunda-fila-seccion-elementos-patologias span, .contenedor-tercera-fila-seccion-elementos-inicio span, .contenedor-segunda-fila-seccion-elementos-ocupaciones span, .contenedor-segunda-fila-seccion-elementos-especialidades span{
    font-size: 7vw;
    font-weight: 600;
}

.contenedor-segunda-fila-seccion-elementos-patologias p, .contenedor-tercera-fila-seccion-elementos-inicio p, .contenedor-segunda-fila-seccion-elementos-ocupaciones p, .contenedor-segunda-fila-seccion-elementos-especialidades p{
    font-size: 3vw;
}

.contenedor-tercera-fila-seccion-elementos-inicio{
    display: flex;
}

.grafico-docentes{
    width: 33%;
    text-align: center;
}

.contenedor-graficos-docentes{
    display: flex;
}

.filtros-alumnos-div{
    display: flex;
}

span.select2-container.select2-container--default.select2-container--open{
    z-index: 10000;
}

#minimo-edad-filtro, #maximo-edad-filtro{
    width: 10%;
}

#boton-filtro-alumnos{
    font-size: 30px;
    padding: 10px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    transition: all 0.25s;
}

#boton-filtro-alumnos:hover{
    filter: brightness(75%);
}
.contenedor-botones a{
    font-size: 2vw;
}

@media (max-width: 1500px) {
    #ocutotalesgestion{
        font-size: 50px !important; 
    }
    
    .contenedor-segunda-fila-seccion-elementos-patologias span, .contenedor-tercera-fila-seccion-elementos-inicio span, .contenedor-segunda-fila-seccion-elementos-ocupaciones span, .contenedor-segunda-fila-seccion-elementos-especialidades span{
        font-size: 40px;
        font-weight: 600;
    }
    
    
    #ocusinD{
        font-size: 50px !important;
    }

}

@media (max-width: 900px){
    .grafs{
        flex-direction: column;
    }

    .contenedor-segunda-fila-seccion-elementos-inicio span {
        font-size: 7vw;
    }
    .contenedor-primera-fila-seccion-elementos-inicio{
        flex-direction: column;
    }
    .contenedor-segunda-fila-seccion-elementos-inicio p, .segunda-fila-div span{
        font-size: 10vw;
    }
    .contenedor-segunda-fila-seccion-elementos-inicio{
        flex-direction: column;
    }
    .contenedor-botones a{
        font-size: 5vw;
    }
    .primera-fila-div, .segunda-fila-div{
        width: 50%;
    }
    .contenedor-graficos-docentes{
        flex-direction: column;
    }
    .contenedor-graficos-docentes div{
        width: 70%;
    }
    .contenedor-segunda-fila-div{
        margin-top: 300px;
        margin-bottom: 200px;
    }
}