.content {
    padding: 40px;
}

.nuevaClase {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    grid-column-gap: 80px;
}

.claseInput input {
    width: 100%;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
    font-size: 30px;
}

.claseInput {
    margin-top: 5px;
    margin-bottom: 20px;
}

.claseInput input::placeholder {
    color: #333333;
}

.claseInput label {
    display: block;
    font-size: 30px;
    align-items: center;
}

.claseInput input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.horarioTalDia {
    margin-top: 30px;
}

.horarioTalDia label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
}

.horarioTalDia input {
    width: 140px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pre {
    font-size: 20px;
}

.diasHorarios {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#enviar {
    margin-top: 20px;
    background-color: var(--color-secundario);
    padding: 10px;
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 30px;
}

#enviar:hover {
    filter: brightness(75%);
}

@media (max-width: 1060px) {
    .nuevaClase {
        display: flex;
        flex-direction: column;
    }
}