table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}   

td {
    background-color: var(--color-cuartetario);
}

th {
    background-color: var(--color-secundario);
    color: white;
}
    