.editarClase {
    display: flex;
    padding: 40px;
    margin-top: -20px;
}

.editarElemento {
    display: flex;
    align-items: center;
    justify-content: left;
}

.editarTop {
    display: flex;
    align-items: center;
}

.editarElemento p {
    margin: 15px;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    white-space: pre
}

.editarTop img {
    width: 50px;
    height: 50px;
    transition: 0.25s;
    margin-right: 10px;
    cursor: pointer;
}

.editarTop img:hover {
    width: 60px;
    height: 60px;
}

.editarBottom {
    font-size: 30px;
}

.editarElemento p img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.editarElemento img:hover {
    height: 35px;
    width: 35px;
}

#nombreClase, #diaClase, #inicioClase, #finalClase, #docenteClase {
    margin-left: 10px;
}

#ingresarNombre {
    width: 70%;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
}

input::placeholder {
    color: #333333;
}

input[type="time"] {
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
}

select {
    background-color: var(--color-cuartetario);
    border: 2px solid var(--color-secundario);
    height: 40px;
    font-size: 30px;
}

#guardarInput {
    margin-left: 10px;
    background-color: var(--color-secundario);
    color: white;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--color-secundario);
    transition: 0.25s;
}

#guardarInput:hover {
    filter: brightness(75%);
}

.fadeNombre, .fadeDia, .fadeInicio, .fadeFinal, .fadeDocente {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.5s;
    display: flex;
}

.fadeNombre.visible, .fadeDia.visible, .fadeInicio.visible, .fadeFinal.visible, .fadeDocente.visible {
    opacity: 1;
    visibility: visible;
}

#spans {
    font-weight: 500;
}

#ingresarDocente {
    width: 100%;
}

@media (max-width: 768px) {
    .editarBottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .editarElemento {
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
    }
}