content {
    padding: 20px;
    display: flex;
}

.menuGestion {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secundario);  
    border-radius: 20px;
}

.menuGestion .a-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--color-secundario);
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.25s;
    padding: 10px;
    text-decoration: none;
}

.menuGestion a:hover {
    filter: brightness(75%);
}

@media (max-width: 1270px) {
    .menuGestion {
        flex-wrap: wrap;
        gap: 0;
    }
}

.gestion-inicio-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gestion-inicio-principal .info-inicio {
    text-align: center;
    font-size: 35px !important;
    margin-bottom: 80px;
}

.gestion-inicio-principal .info-inicio p {
    margin-bottom: 40px;
}

.gestion-inicio-principal .info-inicio span {
    font-size: 100px;
    font-weight: 600;
}

.gestion-contenido {
    margin-top: 10px;
}

select {
    margin-bottom: 3%;
}

.seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 50px;
    background-color: var(--color-secundario);  
    font-size: 40px;
}

.seleccion .a-header {
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--color-secundario);
    border: none;
    color: white    ;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.25s;
    padding: 10px;
    text-decoration: none;
}

.seleccion a:hover {
    filter: brightness(75%);
}

.info-inicio div {
    text-align: center;
}

.grafs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    text-align: center;
}

.info-inicio p {
    font-size: 35px;
}

.grafInf {
    text-align: center;
    font-size: 35px;
}

.info-inicio {
    text-align: center;
}

#canvaInf {
    max-height: 300px;
}
