/* General, configuración default */
.content {
    padding: 40px;
}

.contenedor-nuevo-elemento {
    font-size: 30px;
    display: flex;
    gap: 100px;
}

.cambiar-pagina p {
    margin: 0;
}

.botones {
    display: flex;
    gap: 1px;
}

.botones button{
    font-size: 20px !important;
    margin-top: 5px;
    width: 140px;
    height: 50px;
    background-color: #f8f7f7;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.25s;
}

.botones button:hover{
    filter: brightness(75%);
}

#especialidadBoton {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

.botonAgregar, .botonAgregarTodo {
    margin-top: 20px;
    background-color: var(--color-secundario);
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: var(--color-primario);
    border-radius: 20px;
    width: 200px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid var(--color-secundario);
}

.botonAgregar:hover, .botonAgregarTodo:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.botonAgregar:active, .botonAgregarTodo:active {
    background-color: var(--color-secundario-hover);
    color: var(--color-secundario);
}

/* Especialidad */

.formEsp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formEsp p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.especialidadAgregada {
    width: 70%;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
}   

.formEsp select {
    width: 70%;
}

/* Patología */

.formPat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.formPat p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.patologiaAgregada {
    width: 70%;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
}   

/* Ocupación */

.formOcu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.formOcu p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.ocupacionAgregada {
    width: 70%;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
}  

/* Agregado al momento */

#tituloAgregado {
    margin-bottom: 5px;
    margin-top: 10px;
}

.ingresado {
    border: 2px solid var(--color-secundario);
    width: 500px;
    height: 500px;
}

.botonAgregarTodo {
    width: 300px !important;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    border: 2px solid black;
    height: auto;
    white-space: wrap;
    text-overflow: wrap;
    max-width: 100%;
    word-wrap: break-word; 
    word-break: break-all;  
    white-space: normal;
}
.lista-item button{
    white-space: nowrap;
    border: 2px solid var(--color-secundario);
}

.lista-item-agregado{
    background-color: red !important;
    color: white !important;
}
.ingresado button{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--color-secundario);
}
.ingresado button:hover{
    background-color: var(--color-secundario-hover);
}

#errores-items{
    margin-top: 4%;
}
/* Responsive */

@media (max-width: 1500px) {
    main {
        overflow-y: auto !important;
    }
    .patologiaAgregada, .especialidadAgregada, .ocupacionAgregada, .formEsp select {
        width: 400px;
    }
    .contenedor-nuevo-elemento {
        flex-direction: column;
        margin-left: 0px;
    }
    .botonAgregar {
        margin-bottom: -80px;
    }
    .ingresado {
        width: 100%;
    }
    .botonAgregarTodo {
        margin-bottom: 30px;
    }
}
