/* General, configuración default */
.content {
    padding: 40px;
}

.contenedor-nuevo-elemento {
    font-size: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 100px;
}

.cambiar-pagina {
    width: 100%;
}

.cambiar-pagina p {
    margin: 0;
}

.botones {
    display: flex;
    gap: 1px;
}

.botones button {
    font-size: 20px !important;
    margin-top: 5px;
    width: 140px;
    height: 50px;
    background-color: #f8f7f7;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.25s;
}

.botones button:hover {
    filter: brightness(75%);
}

#especialidadBoton {
    background-color: var(--color-secundario);
    color: white;
}

.botonAgregar, .botonAgregarTodo {
    margin-top: 20px;
    background-color: var(--color-secundario);
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    border-radius: 20px;
    width: 200px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid var(--color-secundario);
    transition: 0.25s;  
}

.botonAgregar:hover, .botonAgregarTodo:hover {
    filter: brightness(75%);
}

.botonAgregar:active, .botonAgregarTodo:active {
    background-color: var(--color-secundario-hover);
    color: var(--color-secundario);
}

.formEsp select {
    width: 540px;
}

/* Especialidad */
.formEsp {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.formEsp p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.especialidadAgregada {
    width: 100% !important;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
}   

.especialidadAgregada::placeholder {
    color: #333333;
}

/* Patología */
.formPat {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.formPat p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.patologiaAgregada {
    width: 100% !important;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
}   

.patologiaAgregada::placeholder {
    color: #333333
}

/* Ocupación */
.formOcu {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.formOcu p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.ocupacionAgregada {
    width: 100% !important;
    height: 34px !important;
    font-size: 30px;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-cuartetario);
}

.ocupacionAgregada::placeholder {
    color: #333333
}

/* Agregado al momento */
#tituloAgregado {
    margin-bottom: 5px;
    margin-top: 10px;
}

.ingresado {
    border: 2px solid var(--color-secundario);
    width: 500px;
    height: 500px;
    overflow-y: auto;
    background-color: var(--color-cuartetario);
}

.botonAgregarTodo {
    width: 300px !important;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    border: 2px solid black;
    height: auto;
    white-space: wrap;
    text-overflow: wrap;
    max-width: 100%;
    word-wrap: break-word; 
    word-break: break-all;  
    white-space: normal;
}

.lista-item button {
    white-space: nowrap;
    color: white !important;
    border: 2px solid var(--color-secundario);
}

.lista-item-agregado {
    background-color: red !important;
    color: white !important;
}

.ingresado button {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--color-secundario);
}

.ingresado button:hover {
    filter: brightness(75%);
}

#errores-items {
    margin-top: 4%;
}

h5 {
    margin: 0;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 1300px) {
    main {
        overflow-y: auto !important;
    }
    .contenedor-nuevo-elemento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .ingresado {
        width: 450px;
        height: 450px;
    }
}
